  /*  # = id */
  /* . = class */

      *{
          margin: 0px auto;
          padding: 0px;
      }

      li{
        list-style:none;
      }

      a{
        text-decoration:none;
      }

      .conteiner{
        min-height: 300px;
        height:auto;
        width:100%;
        background-color: #F2F2F2;
      }

      ul{
        height: 45px;
        width:100%;
        background-color: #424242;
      }


      ul a li{
        height:35px;
        width: 33.3%;
        float:left;
        text-align: center;
        color: #F2F2F2;
        padding-top:10px;
      }


      ul a li:hover{
        background-color: #1C1C1C;
        color: #FFFFFF;
      }

      .suport_title{
        height: 40px;
         width:  0%; 
         background-color: rgb(185, 156, 156) ; 
        margin-top: 10px;
        display: table;
      }

      .title{
        height: 40px;
        width:  100%;
        font-size: 20px;
        padding-top: 10px;
        text-align: center;
        margin-top: 10px;
        font-weight: bold;
        text-transform: uppercase;
      }

      .table{
        width: 80%;
        min-height: 50px;
        height:auto;
        background-color: #000000;
      }

      .header_table{
        height: 24px;
        width: 100%;
        background-color: #FFFFFF;
      }

      .body_table{
        min-height: 26px;
        height: auto;
        width: 100%;
        background-color: #000000;
      }

      .header_field{
        height: 24px;
        width: 19.805%;
        font-size: 18px;
        padding-top:6px;
        background-color: #ff4700;
        font-weight: bold;
        text-transform: uppercase;
        text-align: center;
        float: left;
        border: 1px solid #000;
      }

      .body_field{
        height: 24px;
        width: 19.805%;
        font-size: 18px;
        padding-top:6px;
        background-color: #000;
        color: #FFFFFF;
        text-align: center;
        float: left;
        border: 1px solid #FFF;
      }

      .hours_table{
        height: 24px;
        width: 100%;
        font-size: 20px;
        padding-top: 4px;
        background-color: #000;
        font-weight: bold;
        text-transform: uppercase;
        text-align: center;
        color: #FFFFFF;
        border: 1px solid #FFF;
         border-color: #3d3b3b ; 
      }

      footer{
        height: 30px;
        width:100%;
        background-color: #424242;
        text-align: center;
        font-size: 16px;
        padding-top: 7px;
        color: #FFF;
      }
